@page
@model sistema_quinta_do_ypua.Pages_Pousada.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Sobre Nós</h1>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pousada[0].NomePousada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pousada[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pousada[0].Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pousada) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePousada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @*<a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |*@
                @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
